.bcgColor
    background: #f7f7f7
.scroll-full
    &.section-home04
        overflow: hidden
        padding-bottom: 14rem
        @media screen and ( min-width:992px)
            padding-bottom: 0rem
        .header-content
            position: relative
            z-index: 20
            padding-top: 1.5rem
            @media screen and (min-width: 1250px)
                padding-top: 2.30rem
            .titleNumer
                color: white
                margin-left: 0
                line-height: 1.15em
                .bold
                    @extend %opensans-400
        .body-content
            padding-left: 0

            
    &.section-home03
        .body-content
            width: 100%
            @media screen and (min-width: 992px)
                width: 660px
            .box-logos
                width: 90px
                margin: .5rem
                @media screen and (min-width: 1250px)
                    width: 95px
                @media screen and (min-width: 1400px)
                    width: 110px
                img
                    width: 100%

    &.section-home01
        &.bcgColor
            background: $colorHumo
    &.section-home00
        .owl-sliderHome
            width: 100vw
            height: 100vh
            .owl-stage-outer
                height: 100vh
                .owl-stage
                    height: 100vh
                    .owl-item
                        height: 100vh

            // .owl-wrapper,
            // .owl-item
            //     width: 100vw !important
            //     height: 100vh !important
        .slider-Content
            padding-top: 30px
            width: auto
            @media screen and (min-width: 992px)
                padding-top: 80px
                width: 460px
            @media screen and (min-width: 1250px)
                padding-top: 120px
                width: 540px
            // @media screen and (min-width: 1400px)
            //     padding-top: 186px
        .bcg
            background-image: url('../image/b1.jpg')